@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Nunito:ital,wght@1,200&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
}

:root {
    --bg-1: #303444;
    --bg-2: #242533;
    --main-yellow: #F5A822;
    --text-white: #fff;
    --para-text: rgb(190, 188, 188);
    --box-shadow: box-shadow: 8px 5px 23px -7px rgba(0, 0, 0, 0.75),
        -webkit-box-shadow: 8px 5px 23px -7px rgba(0, 0, 0, 0.75),
        -moz-box-shadow: 8px 5px 23px -7px rgba(0, 0, 0, 0.75);
}

body {
    background-color: var(--bg-1);
    color: var(--text-white);
    scroll-behavior: smooth;
}

h1 {
    /* font-family: 'Lobster', cursive; */
    font-weight: 900;
}

h1 {
    font-size: 60px;
}

h2 {
    font-size: 30px;
    font-weight: 500;
}

h3,
p,
a,
li {
    font-family: 'Nunito', sans-serif;
}

h3 {
    font-size: 27px;
}


p {
    font-size: 25px;
    font-style: normal;
    color: var(--para-text);
}

a {
    text-decoration: none;
    color: var(--text-white);
}

a:hover {
    color: var(--main-yellow);
}

ul,
li {
    list-style: none;
}

hr {
    width: 60px;
    background-color: var(--main-yellow);
    height: 5px;
    opacity: 100;
    border: none;
}

i {
    color: var(--text-white);
}

span {
    color: var(--main-yellow);
}


/* Custom classes is here  */
.py-50 {
    padding: 60px 0px;
}

.bg-dark {
    background-color: var(--bg-2);
}

.yellow-text {
    color: var(--main-yellow);
}

.cta-btn-1 {
    background-color: var(--main-yellow);
    padding: 10px 25px;
    border-radius: 25px 0px 25px 0px;
    font-size: 20px;
    transition: all 0.4s linear;
}

.cta-btn-1:hover {
    background-color: var(--text-white);
    padding: 10px 25px;
    border-radius: 0px 25px 0px 25px;
    transition: all 0.4s linear;

}

.social-link {
    display: flex;
    justify-content: space-between;
    max-width: 200px;
    align-items: center;

}

.social-link li a svg {
    transition: all 0.3s linear;
}

.social-link li a svg:hover {
    color: var(--main-yellow);
    transform: translateY(-10px);
    transition: all 0.3s linear;

}

/* Nav section style start here  */

.logo {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.active {
    color: var(--main-yellow) !important;

}

.nav-link:hover {
    color: var(--main-yellow) !important;
}

/* contact section style start here  */
.hero {
    position: relative;
    padding: 0px 10px;
}

.hero .hero-bg {
    position: absolute;
    z-index: -1;
    width: 650px;
    bottom: -80px;
    left: 70px;
    transition: all 0.3s linear;

}

.hero .hero-bg:hover {
    width: 670px !important;
    transition: all 0.3s linear;
}

/* contact section style start here  */
.contact-sec {
    padding-bottom: 200px !important;
}

/* Number section style start here  */

.num-box h2 {
    font-size: 60px;
    font-weight: 900;
}

.num-box small {
    margin-top: 44px;
    margin-left: 20px;
}

/* Service section style start here  */

.service-sec {
    margin-top: -100px;
    padding-bottom: 10px;
}

.service-active {
    background-color: var(--main-yellow) !important;

}

.service-box {
    background-color: var(--bg-2);
    padding: 0px 40px;
    padding-top: 50px;
    transition: all 0.3s linear;
    height: 300px;
    min-width: 293px;
    display: flex;
    justify-content: space-between;
}

.service-box p {
    color: var(--text-white);
}

.service-box:hover {
    background-color: var(--main-yellow);
    border-radius: 15px;
    box-shadow: var(--box-shadow);
    transform: translateY(-15px);
    transition: all 0.3s linear;

}

.brands-slider {
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding: 20px 0px;
}
.brand-slide{
    padding-top: 20px;
}

.brand-slide svg {
    width: 50px;
    fill: var(--text-white);
    transition: all 0.4s linear;
}

.brand-slide svg:hover {
    /* width: 60px; */
    transform: translateY(-10px);
    fill: var(--main-yellow);
    transition: all 0.4s linear;

}

/* Portfolio section style start here  */

.pt-slider {
    gap: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.pt-slide {
    position: relative;
}

.pt-slide img {
    display: block;
}

.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: var(--bg-2);
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: .5s ease;
}

.pt-slide:hover .overlay {
    height: 50%;
    box-shadow: var(--box-shadow);
    transition: all 0.3s linear;
}

.ov-content {
    color: white;
    font-size: 20px;
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

.pt-list li{
list-style: disc;
color: var(--main-yellow);
}

/* blogs section style start here  */

.blog-slider {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.blog-slide {
    display: flex;
    justify-content: space-between;
}

/* review section style start here  */

/* .review-slider { */
/* display: flex;
    justify-content: center;
    margin: inherit;
    align-items: center; */
/* max-width: 800px; */
/* } */

.review-slide {
    display: flex;
    align-items: center;
    gap: 50px;
}

.review-img img {
    max-width: 500px;
    border-radius: 15px;
}

.review-content small {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

/* fooer style here  */

footer {
    text-align: center;
}

/* // X-Small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {}

/* // Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {}

/* // Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {
    .hero .hero-bg {
        left: -152px;
    }

    .cta-btn-1 {
        font-size: 18px;
    }

    .service-box {
        min-width: 210px;
    }

    .review-img {
        display: none;
    }
}

/* // Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {}

/* // X-Large devices (large desktops, less than 1400px) */
@media (max-width: 1399.98px) {}



.img.vert-move {
    -webkit-animation: mover 1s infinite alternate;
    animation: mover 1s infinite alternate;
}

img.vert-move {
    -webkit-animation: mover 1s infinite alternate;
    animation: mover 1s infinite alternate;
}

@-webkit-keyframes mover {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-10px);
    }
}

@keyframes mover {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-10px);
    }
}